.tableDiv {
    text-align: left;
   margin-left: 38%;
}

table {
    border: solid 2px black;
    width: 30%;
}
th {
    background-color:green;
    color: white;
}
td {
    background-color: yellow;
}
